<ion-header>
</ion-header>

<ion-content fullscreen>
  <ion-segment value="favorite">
    <ion-button value="Rutas" shape="round">
      <ion-label>Rutas</ion-label>
    </ion-button>
    <ion-button value="Mapa" shape="round">
      <ion-label>Mapa</ion-label>
    </ion-button>
    <ion-button value="map" shape="round">
      <ion-label>Arboles</ion-label>
    </ion-button>
  </ion-segment>
  <ion-segment>
    <ion-input placeholder="Username"></ion-input>
    <ion-button shape="round">
      <ion-label>Buscar</ion-label>
    </ion-button>
  </ion-segment>

</ion-content>