<ion-header>
  <div>
    <h6>Cambiar contraseña de:</h6>
    <h6>{{ usuario.usuario }}</h6>
  </div>
</ion-header>

<ion-content>
  <ion-grid>
    <form>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-list insert>
              <ion-label>Contraseña nueva</ion-label>
              <ion-item>
                <ion-input type="password" placeholder="contraseña nueva" [(ngModel)]="usuario['contrasena']" [ngModelOptions]="{standalone: true}" required></ion-input>
              </ion-item>
              <ion-label>Confirmar contraseña</ion-label>
              <ion-item>
                <ion-input type="password" placeholder="confirmar contraseña"  [(ngModel)]="usuario['confirmar_contrasena']" [ngModelOptions]="{standalone: true}"required></ion-input>
              </ion-item>
            </ion-list>
          </div>

          <div padding class="info_contrasena">
            <h5>Para mantener tu cuenta segura recuerda que la contraseña debe de cumplir con las siguientes condiciones:</h5>
            <h6>- Tener más de 8 caracteres</h6>
            <h6>- Contener letras mayusculas y minusculas</h6>
            <h6>- Contener por lo menos un número</h6>
            <h6>- Contener por lo menos un caracter especial</h6>
            <h6>- Tu nombre de usuario no sea parte de la contraseña</h6>
          </div>

          <div padding class="centrado">
            <div class="modificaciones">
              <ion-button class="cabiar_contra" expand="block" type="submit" (click)="cambiarContrasena()">CONFIRMAR</ion-button>
            </div>
            <ion-item-divider></ion-item-divider>
            <ion-button (click)="volver()">VOLVER</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
