<ion-header>
  <div class="centrado">
    <br/>
    <img src="../../assets/Isologo.png" width="20%"/>
  </div>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
      <img src="../../../assets/Arbol.png" alt="" />
      <ion-card-header>
        <ion-card-title class="ion-text-center">Mis Metas</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="points">
      <ion-card-header>
        <ion-card-title class="ion-text-center">{{usuario['nombre_usuario']}}</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="medal"></ion-icon>
        <ion-label>Mis puntos</ion-label>
        <ion-label >{{usuario['puntaje']}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="walk"></ion-icon>
        <ion-label>Kms Recorridos</ion-label>
        <ion-label >{{usuario['recorrido'].toFixed(2)}}</ion-label>
      </ion-item>
    </ion-card>
    <ion-list lines="none">
      <ion-item (click)="irInformacionRutas()">
        <ion-icon slot="start" color="medium" name="bicycle"></ion-icon>
        <ion-label>Información Ciclorutas</ion-label>
      </ion-item>
      <ion-item (click)="irInformacionVias()">
        <ion-icon slot="start" color="medium" name="bicycle"></ion-icon>
        <ion-label>Información Ciclovias</ion-label>
      </ion-item>
    </ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Metas Actuales</ion-card-title>
      </ion-card-header>
      <ion-list *ngFor="let tarea of usuario['tareas_actuales']">
        <ion-item >
          <ion-icon slot="start" color="medium" name="ribbon"></ion-icon>
          <ion-label>Meta:</ion-label>
          <ion-label>{{ tarea['nombre_meta'] }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="medium" name="stats"></ion-icon>
          <ion-label>Puntos:</ion-label>
          <ion-label>{{ tarea['puntaje'] }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="medium" name="folder-open"></ion-icon>
          <ion-label>Descripcion:</ion-label>
          <ion-label>{{ tarea['descripcion'] }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
</ion-content>