section {
    margin-top: 20px;
}
.boton_1{
    text-decoration: none;
    padding: 8px;
    font-family: helvetica;
    font-weight: 200;
    font-size: 16px;
    font-style: arial;
    color: #ffffff;
    background-color: #28a745;
    border-radius: 18px;
    margin: 10px;
  }
  .boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }