<ion-header>
  <div class="centrado">
    <br/>
    <img src="" width="20%"/>
    <h3>Usuarios</h3>
  </div>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <ion-list *ngFor="let usuario of usuarios">
          <div class="usuario">
            <ion-item-sliding #sliding>
              <ion-item (click)="infoUsuario(usuario.documento)">
                <ion-avatar>
                  <img src="../../../assets/{{usuario.imagen}}">
                </ion-avatar>
                <h5 class="nombre">{{ usuario.nombre_usuario }}</h5>
                <ion-item-divider>
                  <h6>{{ usuario.documento }}</h6>
                </ion-item-divider>
              </ion-item>
            </ion-item-sliding>
          </div>
        </ion-list>
        <div padding class="centrado">
          <ion-button expand="block" type="submit" (click)="crearUsuario()">CREAR USUARIO</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
