<ion-content>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Ranking</ion-card-title>
  </ion-card-header>
  <ion-card> 
    <div class="ion-text-center">Mi posición: xxxx        Mis puntos: xxxx</div>
  </ion-card>

    <ion-card>
    <ion-card-title class="ion-text-center">Top 3</ion-card-title>
      <div class="lead-master">
          <div class="leader">
              <div class="left"><i class="fa fa-trophy" aria-hidden="true"></i></div>
              <div class="right">
                  <div class="user">
                      <a>{{ ranking[0]["nombre_usuario"] }}</a>
                  </div>
                  <div class="score">Puntos:{{ ranking[0]["puntos"] }}</div>
              </div>
          </div>
          <div class="leader">
              <div class="left"><i class="fa fa-trophy" aria-hidden="true"></i></div>
              <div class="right">
                  <div class="user">
                      <a>{{ ranking[1]["nombre_usuario"] }}</a>
                  </div>
                  <div class="score">Puntos:{{ ranking[1]["puntos"] }}</div>
              </div>
          </div>
          <div class="leader">
              <div class="left"><i class="fa fa-trophy" aria-hidden="true"></i></div>
              <div class="right">
                  <div class="user">
                      <a  target="_blank">{{ ranking[2]["nombre_usuario"] }}</a>
                  </div>
                  <div class="score">Puntos:{{ ranking[2]["puntos"] }}</div>
              </div>
          </div>
      </div>
    </ion-card>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://use.fontawesome.com/f6be8ca97c.js'></script>
    <ion-list *ngFor="let rank of ranking; let acum=index">
      <div class="ranking">
        <ion-item-sliding #sliding>
          <ion-item *ngIf="acum>=3">
            <ion-icon slot="start" color="medium" name="ribbon"></ion-icon>
            <h5 class="nombre_usuario">Usuario: {{ rank["nombre_usuario"] }} <br/> Puntos: {{ rank["puntos"] }}</h5>
          </ion-item>

        </ion-item-sliding>
      </div>
    </ion-list>
</ion-content>



