<ion-header>
  <div class="centrado">
    <br/>
    <img src="" width="20%"/>
    <h3>LIGNUM</h3>
  </div>
</ion-header>

<ion-content>
  <ion-grid>
    <form>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <h3 class="centrado">Registro</h3>
            <ion-list insert>
              <ion-item>
                <ion-input type="text" placeholder="Nombre de usuario" [(ngModel)]="usuario['nombre_usuario']" [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="text" placeholder="Documento" [(ngModel)]="usuario['documento']" [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input type="email" placeholder="Email" [(ngModel)]="usuario['correo']" [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-item>
              <div>
                <ion-item>
                  <ion-input type="password" placeholder="Contraseña" [(ngModel)]="usuario['contrasena']" [ngModelOptions]="{standalone: true}"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type="password" placeholder="Confirmar contraseña" [(ngModel)]="usuario['confirmar_contrasena']" [ngModelOptions]="{standalone: true}"></ion-input>
                </ion-item>
              </div>
            </ion-list>
          </div>

          <div padding class="centrado">
            <ion-button expand="block" type="submit" (click)="crearUsuario()">CREAR</ion-button>
            <ion-item-divider></ion-item-divider>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>