<ion-content>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Información de ciclo vias/rutas</ion-card-title>
  </ion-card-header>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Ciclo vias y Rutas</ion-label>
      </ion-list-header>
      <ion-item href="/ciclo-rutas">
        <ion-icon slot="start" color="medium" name="map"></ion-icon>
        <ion-label>Ciclo via autopista sur</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="map"></ion-icon>
        <ion-label>Ciclo via avenida el poblado</ion-label>
      </ion-item>
      <ion-item >
        <ion-icon slot="start" color="medium" name="map"></ion-icon>
        <ion-label>Ciclo via estadio</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
