<ion-header>
  <div class="centrado">
    <h6>Información de {{ usuario.nombre_usuario }}</h6>
  </div>
</ion-header>

<ion-content>
  <ion-grid>
    <form>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-list insert>
              <ion-item>
                <ion-avatar>
                  <img src="../../../assets/imagenes_usuario/{{usuario.imagen}}">
                </ion-avatar>
                <ion-button (click)="modificarImagenModal()">+</ion-button>
              </ion-item>
              <ion-label>Nombre de Usuario</ion-label>
              <ion-item>
                <ion-input type="text" placeholder="Nombre de usuario" [(ngModel)]="usuario['nombre_usuario']" [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-item>
              <ion-label>Documento</ion-label>
              <ion-item>
                <ion-input type="text" placeholder="Documento" [(ngModel)]="usuario['documento']" [ngModelOptions]="{standalone: true}" readonly></ion-input>
              </ion-item>
              <ion-label>Email</ion-label>
              <ion-item>
                <ion-input type="email" placeholder="Email" [(ngModel)]="usuario['correo']" [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-item>
              <ion-label>Tipo de Usuario</ion-label>
              <ion-item>
                <ion-input type="tipo_usuario" placeholder="Tipo usuario" [(ngModel)]="usuario['tipo']" [ngModelOptions]="{standalone: true}" readonly></ion-input>
              </ion-item>
            </ion-list>
          </div>

          <div padding class="centrado">
            <div class="modificaciones">
              <ion-button class="modificar" expand="block" type="submit" (click)="modificarUsuario()">MODIFICAR</ion-button>
              <ion-button class="cabiar_contra" expand="block" type="submit" (click)="cambiarContrasenaModal()">CAMBIAR CONTRASEÑA</ion-button>
              <ion-button class="eliminar" expand="block" type="submit" (click)="confirmacionEliminar()">ELIMINAR</ion-button>
            </div>
            <ion-item-divider></ion-item-divider>
            <ion-button (click)="volver()">VOLVER</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
